<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Application <%= roll %></title>
    <style>
      .a4 {
        height: 297mm;
        width: 210mm;
        border: 1px solid black;
      }
      .d-flex {
        display: flex;
      }
      .text-center {
        text-align: center;
      }
      td:nth-child(2) {
        padding-left: 32px;
        padding-bottom: 6px;
        padding-top: 6px;
      }
    </style>
  </head>
  <body>
    <div class="a4">
      <div class="text-center">
        <img
          src="https://i.imgur.com/hT7IRUG.png"
          alt="letter-head"
          style="margin-top: 16px"
        />
      </div>
      <div style="margin-left: 48px; margin-right: 48px">
        <hr style="height: 2px; background-color: black" />
        <div class="text-center">
          (APPLICATION FORM FOR IDENTITY CARD FOR STUDENTS)
          <br />
          To be filled in <strong>BLOCK LETTERS</strong> and mailed to
          <em>iiitgidcard@gmail.com</em>
        </div>
        <div
          class="d-flex"
          style="justify-content: space-between; align-items: center"
        >
          <div>
            <br />
            <br />
            <table>
              <tr>
                <td>FULL NAME:</td>
                <td><%= name %></td>
              </tr>
              <tr>
                <td>PROGRAMME:</td>
                <td><%= programme %></td>
              </tr>
              <tr>
                <td>MODE:</td>
                <td><%= mode %></td>
              </tr>
              <tr>
                <td>ROLL NUMBER:</td>
                <td><%= roll %></td>
              </tr>
              <tr>
                <td>DATE OF BIRTH:</td>
                <td><%= dob %></td>
              </tr>
              <tr>
                <td>BLOOD GROUP:</td>
                <td><%= blood %></td>
              </tr>
            </table>
          </div>
          <div>
            <img
              src="/images/<%= roll %>/<%= roll %>_photo.png"
              height="150mm"
              width="112.5mm"
              style="margin-right: 16px; border: 2px solid black; padding: 1px"
            />
          </div>
        </div>
        <br />
        <div>
          <table>
            <tr>
              <td>PRESENT ADDRESS</td>
              <td><%= presentAddr %></td>
            </tr>
            <tr>
              <td>FATHER'S/GUARDIAN'S NAME:</td>
              <td><%= guardian.toUpperCase() %></td>
            </tr>
            <tr>
              <td>HOME/PERMANENT ADDRESS</td>
              <td><%= permaAddr %></td>
            </tr>
            <tr>
              <td>Emergeny Contact No.</td>
              <td><%= emergency %></td>
            </tr>
            <tr>
              <td>Holder's Contact No.</td>
              <td><%= holder %></td>
            </tr>
            <tr>
              <td>Holder's Email</td>
              <td><%= email %></td>
            </tr>
          </table>
          <br />
          <img
            src="/images/<%= roll %>/<%= roll %>_sign.png"
            style="
              height: 1.5cm;
              width: 4cm;
              border: 1px solid black;
              padding: 1px;
            "
          />
          <br />
          <br />
          <br />
          <br />
          <strong>SIGNATURE</strong>
        </div>
        <br />
        <br />
        <hr />

        <div>
          <br />
          <div class="text-center">
            <strong> FOR OFFICE USE ONLY </strong>
          </div>
          <br />
          Valid Up to: <u><%= validity %></u>
          <br />
          <br />
          Issue No. <u><%= issue %></u>
          <br />
          <br />
          Issued By
          <u>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </u>
          <br />
          <br />
          Date
          <u>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </u>
        </div>
      </div>
    </div>
  </body>
</html>
