<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Year Wise <%= degreeFormatted %></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
</head>

<body>
  <%- include('./../partials/footer') %>

  <div class="container mt-2">
    <%- include('./partials/header') %>
    <br />
    <br>
    <ul class="list-group">
      <% for( let i = 0; i < years.length; i++ ) { %>
      <a href="/admin/entries/btech/<%= years[i] %>" style="text-decoration: none;">
        <li class="list-group-item"><%= degreeFormatted %> (20<%=years[i]%>) &RightArrow; (<%= data[i].count %>)</li>
      </a>
      <% } %>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>

</html>